@import "tailwindcss";

body {
  background-color: #000; /* black */
  color: white;
}


@font-face {
  font-family: 'Ethnocentric';
  src: url('./assets/fonts/Ethnocentric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-ethno {
  font-family: 'Ethnocentric', sans-serif;
}

