@import "tailwindcss";

@font-face {
  font-family: 'Ethnocentric';
  src: url('./fonts/Ethnocentric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-ethno {
  font-family: 'Ethnocentric', sans-serif;
}